modules = ["web", "nodejs-22"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist/client"

[userenv]

[userenv.shared]
NEXT_PUBLIC_APP_URL = "https://f14e1cab-854c-4ec9-9825-d0978eec5998-00-22b07uxtj5qff.worf.replit.dev"
SUPABASE_URL = "https://wndpkohsvfngkimmcvhr.supabase.co"
VITE_SUPABASE_URL = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduZHBrb2hzdmZuZ2tpbW1jdmhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI2NTQ2OCwiZXhwIjoyMDkxODQxNDY4fQ.E2iRrW6PM3Nh6B9Cde6VAc20ghgpoBkL3yJ3zd_boQw"
